/* line 757, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot");
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.svg#FCKaiserCond") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "Grumpy-Black36";
  src: url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.svg#webfontKSc4AWhd") format("svg");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.svg#webfontqJplC6D8") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.svg#webfontla9WkFWh") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.svg#webfont2p2hqYg5") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.svg#webfontsq83qGc8") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.svg#webfontydPYhPC6") format("svg");
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 7, ../sass/partials/_base.scss */
.viz-article {
  margin: 0 auto;
  height: 100%;
  color: #33312e;
  font-size: 15px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 16, ../sass/partials/_base.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 21, ../sass/partials/_base.scss */
.viz-detail {
  color: #99948a;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
}

/* line 30, ../sass/partials/_base.scss */
.viz-overline {
  margin: 0 0 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  color: #99948a;
  font-weight: 300;
  font-size: 11px;
}

/* line 39, ../sass/partials/_base.scss */
.viz-title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  font-weight: 600;
  font-size: 42px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 90%;
}
@media (min-width: 500px) {
  /* line 39, ../sass/partials/_base.scss */
  .viz-title {
    font-size: 42px;
  }
}

/* line 51, ../sass/partials/_base.scss */
.viz-underline {
  margin-top: 0;
  color: #33312e;
  font-weight: 300;
  line-height: 140%;
}

/* line 60, ../sass/partials/_base.scss */
.viz-byline {
  letter-spacing: .5px;
  line-height: 90%;
}

/* line 65, ../sass/partials/_base.scss */
.viz-content-block {
  *zoom: 1;
  margin: 0 0 40px;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-content-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 70, ../sass/partials/_base.scss */
.viz-content-header {
  margin: 0 0 30px;
}

/* line 74, ../sass/partials/_base.scss */
.viz-overline-wrapper {
  position: relative;
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #33312e;
}

/* line 81, ../sass/partials/_base.scss */
.viz-subhed {
  margin: 0 0 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  font-weight: 500;
  font-size: 13px;
}

/* line 89, ../sass/partials/_base.scss */
.viz-subhed-select {
  padding-bottom: 7px;
}

/* line 93, ../sass/partials/_base.scss */
.viz-header-wrapper {
  *zoom: 1;
  position: relative;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-header-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 105, ../sass/partials/_base.scss */
.viz-generator-header {
  position: relative;
  margin: 20px 0 10px;
  height: 70px;
}

/* line 111, ../sass/partials/_base.scss */
.viz-basket {
  -webkit-transition: 0.2s bottom ease-in-out, 0.2s width ease-in-out;
  -moz-transition: 0.2s bottom ease-in-out, 0.2s width ease-in-out;
  -o-transition: 0.2s bottom ease-in-out, 0.2s width ease-in-out;
  transition: 0.2s bottom ease-in-out, 0.2s width ease-in-out;
  position: absolute;
  right: 15px;
  bottom: 9px;
  z-index: 1;
  width: 80px;
  cursor: pointer;
}

/* line 119, ../sass/partials/_base.scss */
.viz-subhead {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 5px 10px 7px;
  background: #33312e;
  color: white;
  font-weight: 600;
  font-size: 22px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
}

/* line 133, ../sass/partials/_base.scss */
.viz-header-start .viz-basket {
  width: 280px;
  bottom: -325px;
  right: 0;
  left: 0;
  margin: auto auto;
}
/* line 140, ../sass/partials/_base.scss */
.viz-header-start .viz-subhead {
  text-align: center;
}

/* line 145, ../sass/partials/_base.scss */
.viz-copy {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 20px 10px;
  color: #33312e;
  line-height: 140%;
  font-size: 15px;
}

/* line 153, ../sass/partials/_base.scss */
.viz-copy-start {
  margin-left: 0;
  text-align: center;
}

/* line 158, ../sass/partials/_base.scss */
.viz-ingredients {
  margin: 0 0 40px;
  padding: 0;
}
@media (min-width: 500px) {
  /* line 158, ../sass/partials/_base.scss */
  .viz-ingredients {
    width: 48%;
  }
}

@media (min-width: 500px) {
  /* line 166, ../sass/partials/_base.scss */
  .viz-ingredients-col-1 {
    float: left;
  }
}

@media (min-width: 500px) {
  /* line 172, ../sass/partials/_base.scss */
  .viz-ingredients-col-2 {
    float: right;
  }
}

/* line 178, ../sass/partials/_base.scss */
.viz-ingredient-item {
  display: none;
  margin-bottom: 20px;
  list-style-type: none;
  padding: 15px;
  border: 1px solid #33312e;
}

/* line 186, ../sass/partials/_base.scss */
.viz-number {
  position: absolute;
  right: 0;
  bottom: 10px;
  margin: 0;
  padding-top: 2px;
  width: 16px;
  height: 16px;
  background: #33312e;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 200, ../sass/partials/_base.scss */
.viz-ingredient-header {
  margin-bottom: 10px;
  padding-bottom: 6px;
  width: 100%;
  border-bottom: 2px solid #33312e;
  position: relative;
}

/* line 208, ../sass/partials/_base.scss */
.viz-thumb-container {
  overflow: hidden;
  margin: 10px 0 0;
  width: 100%;
  max-height: 260px;
}

/* line 215, ../sass/partials/_base.scss */
.viz-ingredient-thumb {
  border-top: 1px solid #33312e;
  padding-top: 15px;
  width: 100%;
}

/* line 221, ../sass/partials/_base.scss */
.viz-ingredient-name {
  display: inline-block;
  margin: 0 25px 0 0;
  font-weight: 600;
  font-size: 20px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 100%;
}

/* line 230, ../sass/partials/_base.scss */
.viz-ingredient-description {
  margin: 0;
  font-size: 14px;
  line-height: 140%;
}

/* line 236, ../sass/partials/_base.scss */
.viz-readmore {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #99948a;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 400;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}
/* line 245, ../sass/partials/_base.scss */
.viz-readmore:hover {
  color: #66635d;
}

/* line 250, ../sass/partials/_base.scss */
.viz-recipes {
  padding: 0;
}

/* line 254, ../sass/partials/_base.scss */
.viz-recipes-item {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #33312e;
  list-style-type: none;
}
/* line 259, ../sass/partials/_base.scss */
.viz-recipes-item:nth-of-type(1) {
  margin-top: 15px;
  border-top: none;
  padding-top: 0;
}
/* line 264, ../sass/partials/_base.scss */
.viz-recipes-item:last-of-type {
  padding-bottom: 5px;
}

/* line 269, ../sass/partials/_base.scss */
.viz-recipe-overline {
  display: block;
  margin-bottom: 3px;
  color: #99948a;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 400;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 280, ../sass/partials/_base.scss */
.viz-recipe-title {
  display: block;
  color: #33312e;
  text-decoration: none;
  font-size: 14px;
}

/* line 291, ../sass/partials/_base.scss */
.viz-svg-wrap {
  margin: 0 auto 30px;
  width: 200px;
  height: 180px;
  cursor: pointer;
}

/* line 25, ../sass/site.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../sass/site.scss */
body {
  margin: 0 auto;
  padding: 15px 20px;
  max-width: 606px;
}
@media (min-width: 500px) {
  /* line 29, ../sass/site.scss */
  body {
    padding: 30px 20px;
  }
}
