/* line 757, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot");
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-medium-webfont.svg#FCKaiserCond") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_cond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-extralight-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiserXCond";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser_xcond-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSans";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_sans-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-thin-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-light-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-bold-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCZizouSlab";
  src: url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fczizou/fczizou_slab-black-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-regular-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "FCKaiser";
  src: url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/fckaiser/fckaiser-medium-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-100-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-300-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-500-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "MuseoSans";
  src: url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.eot?") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/museosans/museosans-700-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-family: "Grumpy-Black36";
  src: url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.svg") format("svg"), url("http://www.fastcodesign.com/fonts/grumpy/grumpy-black36-webfont.ttf") format("opentype");
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold-webfont.svg#webfontKSc4AWhd") format("svg");
}

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-bold_italic-webfont.svg#webfontqJplC6D8") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book-webfont.svg#webfontla9WkFWh") format("svg");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-book_italic-webfont.svg#webfont2p2hqYg5") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium-webfont.svg#webfontsq83qGc8") format("svg");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "CaslonFS";
  src: url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.eot?#iefix") format("eot"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.woff") format("woff"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.ttf") format("truetype"), url("http://www.fastcodesign.com/fonts/caslonfs/caslonfs-medium_italic-webfont.svg#webfontydPYhPC6") format("svg");
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebThin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebRegular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Colfax";
  src: url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.eot?") format("embedded-opentype"), url("http://www.fastcolabs.com/fonts/colfax-licensed/ColfaxWebBlack.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 7, ../sass/partials/_base.scss */
.viz-article {
  margin: 0 auto;
  height: 100%;
  color: #33312e;
  font-size: 15px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 16, ../sass/partials/_base.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 21, ../sass/partials/_base.scss */
.viz-detail {
  color: #99948a;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
}

/* line 30, ../sass/partials/_base.scss */
.viz-overline {
  margin: 0 0 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  color: #99948a;
  font-weight: 300;
  font-size: 11px;
}

/* line 39, ../sass/partials/_base.scss */
.viz-title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  font-weight: 600;
  font-size: 42px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 90%;
}
@media (min-width: 620px) {
  /* line 39, ../sass/partials/_base.scss */
  .viz-title {
    font-size: 42px;
  }
}

/* line 51, ../sass/partials/_base.scss */
.viz-underline {
  margin-top: 0;
  color: #33312e;
  font-weight: 300;
  line-height: 140%;
}

/* line 58, ../sass/partials/_base.scss */
.viz-copy {
  color: #66635d;
  font-weight: 300;
  line-height: 140%;
}

/* line 64, ../sass/partials/_base.scss */
.viz-byline {
  letter-spacing: .5px;
  line-height: 90%;
}

/* line 69, ../sass/partials/_base.scss */
.viz-content-block {
  margin: 0 0 40px;
}

/* line 73, ../sass/partials/_base.scss */
.viz-content-header {
  margin: 0 0 30px;
}

/* line 77, ../sass/partials/_base.scss */
.viz-overline-wrapper {
  position: relative;
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #33312e;
}

/* line 84, ../sass/partials/_base.scss */
.viz-subhed {
  margin: 0 0 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  font-weight: 500;
  font-size: 13px;
}

/* line 92, ../sass/partials/_base.scss */
.viz-subhed-select {
  padding-bottom: 7px;
}

/* line 96, ../sass/partials/_base.scss */
.viz-header-wrapper {
  *zoom: 1;
  position: relative;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-header-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 104, ../sass/partials/_base.scss */
.viz-button {
  display: block;
  margin-bottom: 10px;
}

/* line 109, ../sass/partials/_base.scss */
.viz-subhead {
  margin: 0 0 20px;
  padding: 7px 10px;
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 24px;
  font-family: "FCKaiserCond", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 122, ../sass/partials/_base.scss */
.viz-subhead-recipes {
  display: none;
}

/* line 126, ../sass/partials/_base.scss */
.viz-ingredients {
  margin: 0 0 40px;
  padding: 0;
}

/* line 131, ../sass/partials/_base.scss */
.viz-ingredient-item {
  *zoom: 1;
  display: none;
  margin-bottom: 10px;
  list-style-type: none;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-ingredient-item:after {
  content: "";
  display: table;
  clear: both;
}

/* line 138, ../sass/partials/_base.scss */
.viz-number {
  float: left;
  margin: 0;
  padding-right: 11px;
  width: 35px;
  background-image: url("/img/number_bground.png");
  background-size: auto 40px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  font-family: "FCKaiserCond", Helvetica, Arial, sans-serif;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
}

/* line 154, ../sass/partials/_base.scss */
.viz-ingredient-header {
  margin-bottom: 10px;
  cursor: pointer;
  display: table;
  height: 40px;
}

/* line 167, ../sass/partials/_base.scss */
.viz-ingredient-info {
  margin-left: 25px;
}

/* line 171, ../sass/partials/_base.scss */
.viz-ingredient-thumb {
  width: 40px;
  height: 40px;
  border: 2px solid #33312e;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/7/7f/Citrus_australasica_green_fruit1.JPG");
  background-size: auto 40px;
}

/* line 179, ../sass/partials/_base.scss */
.viz-ingredient-name {
  vertical-align: middle;
  padding: 0 0 0 5px;
  font-weight: 600;
  line-height: 120%;
  font-size: 18px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  display: table-cell;
}

/* line 189, ../sass/partials/_base.scss */
.viz-arrow {
  -webkit-transition: rotate 0.2s ease-in-out;
  -moz-transition: rotate 0.2s ease-in-out;
  -o-transition: rotate 0.2s ease-in-out;
  transition: rotate 0.2s ease-in-out;
  margin-left: -1px;
  color: #33312e;
  font-size: 13px;
}

/* line 196, ../sass/partials/_base.scss */
.viz-ingredient-description {
  display: none;
  margin: 0;
  margin: 0 0 0 -25px;
  color: #66635d;
  font-size: 14px;
  line-height: 140%;
}
@media (min-width: 620px) {
  /* line 196, ../sass/partials/_base.scss */
  .viz-ingredient-description {
    margin: 0 0 0 10px;
  }
}

/* line 208, ../sass/partials/_base.scss */
.viz-readmore {
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  color: #33312e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 214, ../sass/partials/_base.scss */
.viz-readmore:hover {
  padding: 1px 3px;
  background-color: #ccc6b9;
}

/* line 226, ../sass/partials/_base.scss */
.viz-svg-wrap {
  margin: 0 auto 30px;
  width: 200px;
  height: 180px;
  cursor: pointer;
}

/* line 25, ../sass/site.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../sass/site.scss */
body {
  margin: 0 auto;
  padding: 15px 20px;
  max-width: 620px;
}
@media (min-width: 620px) {
  /* line 29, ../sass/site.scss */
  body {
    padding: 30px 20px;
  }
}
