/* line 757, ../sass/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* line 7, ../sass/partials/_base.scss */
.viz-article {
  margin: 0 auto;
  height: 100%;
  color: #33312e;
  font-size: 15px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 16, ../sass/partials/_base.scss */
.viz-container {
  position: relative;
  background-color: white;
}

/* line 21, ../sass/partials/_base.scss */
.viz-detail {
  color: #99948a;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 11px;
  line-height: 80%;
}

/* line 30, ../sass/partials/_base.scss */
.viz-overline {
  margin: 0 0 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  color: #99948a;
  font-weight: 300;
  font-size: 11px;
}

/* line 39, ../sass/partials/_base.scss */
.viz-title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  font-weight: 600;
  font-size: 42px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 90%;
}
@media (min-width: 500px) {
  /* line 39, ../sass/partials/_base.scss */
  .viz-title {
    font-size: 42px;
  }
}

/* line 51, ../sass/partials/_base.scss */
.viz-underline {
  margin-top: 0;
  color: #33312e;
  font-weight: 300;
  line-height: 140%;
}

/* line 60, ../sass/partials/_base.scss */
.viz-byline {
  letter-spacing: .5px;
  line-height: 90%;
}

/* line 65, ../sass/partials/_base.scss */
.viz-content-block {
  *zoom: 1;
  margin: 0 0 40px;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-content-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 70, ../sass/partials/_base.scss */
.viz-content-header {
  margin: 0 0 30px;
}

/* line 74, ../sass/partials/_base.scss */
.viz-overline-wrapper {
  position: relative;
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #33312e;
}

/* line 81, ../sass/partials/_base.scss */
.viz-subhed {
  margin: 0 0 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc6b9;
  font-weight: 500;
  font-size: 13px;
}

/* line 89, ../sass/partials/_base.scss */
.viz-subhed-select {
  padding-bottom: 7px;
}

/* line 93, ../sass/partials/_base.scss */
.viz-header-wrapper {
  *zoom: 1;
  position: relative;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-header-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 105, ../sass/partials/_base.scss */
.viz-generator-header {
  position: relative;
  margin: 20px 0 10px;
  height: 70px;
}

/* line 111, ../sass/partials/_base.scss */
.viz-basket {
  -webkit-transition: 0.2s bottom ease-in-out, 0.2s width ease-in-out;
  -moz-transition: 0.2s bottom ease-in-out, 0.2s width ease-in-out;
  -o-transition: 0.2s bottom ease-in-out, 0.2s width ease-in-out;
  transition: 0.2s bottom ease-in-out, 0.2s width ease-in-out;
  position: absolute;
  right: 15px;
  bottom: 9px;
  z-index: 1;
  width: 80px;
  cursor: pointer;
}

/* line 119, ../sass/partials/_base.scss */
.viz-subhead {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 5px 10px 7px;
  background: #33312e;
  color: white;
  font-weight: 600;
  font-size: 22px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 134, ../sass/partials/_base.scss */
.viz-header-start .viz-basket {
  width: 280px;
  bottom: -325px;
  right: 0;
  left: 0;
  margin: auto auto;
}
/* line 141, ../sass/partials/_base.scss */
.viz-header-start .viz-subhead {
  text-align: center;
}

/* line 146, ../sass/partials/_base.scss */
.viz-copy {
  -webkit-transition: text-align 0.2s ease-in-out;
  -moz-transition: text-align 0.2s ease-in-out;
  -o-transition: text-align 0.2s ease-in-out;
  transition: text-align 0.2s ease-in-out;
  margin: 0 0 20px 10px;
  color: #33312e;
  line-height: 140%;
  font-size: 15px;
}

/* line 154, ../sass/partials/_base.scss */
.viz-copy-start {
  margin-left: 0;
  text-align: center;
}

/* line 159, ../sass/partials/_base.scss */
.viz-ingredients-wrapper {
  *zoom: 1;
}
/* line 38, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.viz-ingredients-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 163, ../sass/partials/_base.scss */
.viz-ingredients {
  margin: 0 0 10px;
  padding: 0;
}
@media (min-width: 500px) {
  /* line 163, ../sass/partials/_base.scss */
  .viz-ingredients {
    width: 48%;
  }
}

@media (min-width: 500px) {
  /* line 171, ../sass/partials/_base.scss */
  .viz-ingredients-col-1 {
    float: left;
  }
}

@media (min-width: 500px) {
  /* line 177, ../sass/partials/_base.scss */
  .viz-ingredients-col-2 {
    float: right;
  }
}

/* line 183, ../sass/partials/_base.scss */
.viz-ingredient-item {
  display: none;
  margin-bottom: 20px;
  list-style-type: none;
  padding: 15px;
  border: 1px solid #33312e;
}

/* line 191, ../sass/partials/_base.scss */
.viz-number {
  position: absolute;
  right: 0;
  bottom: 10px;
  margin: 0;
  padding-top: 2px;
  width: 16px;
  height: 16px;
  background: #33312e;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 205, ../sass/partials/_base.scss */
.viz-ingredient-header {
  margin-bottom: 10px;
  padding-bottom: 6px;
  width: 100%;
  border-bottom: 2px solid #33312e;
  position: relative;
}

/* line 213, ../sass/partials/_base.scss */
.viz-thumb-container {
  overflow: hidden;
  margin: 10px 0 0;
  width: 100%;
  max-height: 260px;
}

/* line 220, ../sass/partials/_base.scss */
.viz-ingredient-thumb {
  border-top: 1px solid #33312e;
  padding-top: 15px;
  width: 100%;
}

/* line 226, ../sass/partials/_base.scss */
.viz-ingredient-name {
  display: inline-block;
  margin: 0 25px 0 0;
  font-weight: 600;
  font-size: 20px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 100%;
}

/* line 235, ../sass/partials/_base.scss */
.viz-ingredient-description {
  color: #33312e;
  margin: 0;
  font-size: 14px;
  line-height: 140%;
}

/* line 242, ../sass/partials/_base.scss */
.viz-readmore {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #99948a;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 400;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}
/* line 251, ../sass/partials/_base.scss */
.viz-readmore:hover {
  color: #66635d;
}

/* line 256, ../sass/partials/_base.scss */
.viz-recipes {
  padding: 0;
}

/* line 260, ../sass/partials/_base.scss */
.viz-recipes-item {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #33312e;
  list-style-type: none;
}
/* line 265, ../sass/partials/_base.scss */
.viz-recipes-item:nth-of-type(1) {
  margin-top: 15px;
  border-top: none;
  padding-top: 0;
}
/* line 270, ../sass/partials/_base.scss */
.viz-recipes-item:last-of-type {
  padding-bottom: 5px;
}

/* line 275, ../sass/partials/_base.scss */
.viz-recipe-overline {
  display: block;
  margin-bottom: 3px;
  color: #99948a;
  text-transform: uppercase;
  letter-spacing: .75px;
  font-weight: 400;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
}

/* line 286, ../sass/partials/_base.scss */
.viz-recipe-title {
  display: block;
  color: #33312e;
  text-decoration: none;
  font-size: 14px;
}

/* line 293, ../sass/partials/_base.scss */
.viz-source {
  display: block;
  margin: 300px 0 7px;
  padding-top: 7px;
  border-top: 1px solid #99948a;
  color: #99948a;
  letter-spacing: .75px;
  font-weight: 400;
  font-size: 12px;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif;
  line-height: 140%;
}

/* line 306, ../sass/partials/_base.scss */
.viz-source-activated {
  margin-top: 0px;
}

/* line 310, ../sass/partials/_base.scss */
.viz-leadin {
  text-transform: uppercase;
}

/* line 314, ../sass/partials/_base.scss */
.viz-yummly {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("http://www.fastcodesign.com/asset_files/-/2014/04/21/yummly_logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 4px 2px 0 1px;
  width: 50px;
  height: 20px;
}

/* line 329, ../sass/partials/_base.scss */
.viz-svg-wrap {
  margin: 0 auto 30px;
  width: 200px;
  height: 180px;
  cursor: pointer;
}

/* line 35, ../sass/widget.scss */
.prose.body * {
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 39, ../sass/widget.scss */
.prose.body p, .prose.body p:first-child, .prose.body p:first-line {
  font-family: inherit !important;
  color: inherit;
  font-weight: inherit !important;
}
/* line 45, ../sass/widget.scss */
.prose.body label {
  margin: 0;
}
/* line 50, ../sass/widget.scss */
.prose.body ol {
  list-style-type: none;
  line-height: 100%;
}
/* line 55, ../sass/widget.scss */
.prose.body ul {
  margin: 0;
  list-style-type: none !important;
}
/* line 60, ../sass/widget.scss */
.prose.body ol > li {
  width: auto;
}
/* line 64, ../sass/widget.scss */
.prose.body ol > li:before {
  position: static;
}
/* line 68, ../sass/widget.scss */
.prose.body ul > li:before {
  content: none;
}
/* line 75, ../sass/widget.scss */
.prose.body .viz-article {
  min-height: 520px;
}
@media (min-width: 981px) {
  /* line 75, ../sass/widget.scss */
  .prose.body .viz-article {
    margin-left: -96px;
  }
}
/* line 85, ../sass/widget.scss */
.prose.body .viz-ingredient-description, .prose.body .viz-ingredient-description:first-line, .prose.body .viz-ingredient-description:first-child {
  color: #33312e;
  margin: 0;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 140%;
}
/* line 93, ../sass/widget.scss */
.prose.body .viz-generator-header {
  margin-top: -10px;
}
/* line 97, ../sass/widget.scss */
.prose.body .viz-subhead {
  margin: 0;
  font-weight: 600 !important;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  letter-spacing: 0;
}
/* line 107, ../sass/widget.scss */
.prose.body .viz-copy {
  margin: 0 0 20px 10px !important;
  color: #33312e !important;
  line-height: 140%;
  font-weight: 500 !important;
}
/* line 114, ../sass/widget.scss */
.prose.body .viz-ingredient-name {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 100%;
  text-transform: none;
  letter-spacing: 0;
}
/* line 122, ../sass/widget.scss */
.prose.body .viz-ingredient-item {
  margin-bottom: 20px;
}
/* line 126, ../sass/widget.scss */
.prose.body .viz-recipes-item {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #33312e;
  list-style-type: none;
}
/* line 131, ../sass/widget.scss */
.prose.body .viz-recipes-item:nth-of-type(1) {
  margin-top: 15px;
  border-top: none;
  padding-top: 0;
}
/* line 136, ../sass/widget.scss */
.prose.body .viz-recipes-item:last-of-type {
  padding-bottom: 5px;
}
/* line 141, ../sass/widget.scss */
.prose.body .viz-readmore {
  color: #99948a !important;
  border-bottom: none;
}
/* line 144, ../sass/widget.scss */
.prose.body .viz-readmore:hover {
  color: #66635d !important;
}
/* line 149, ../sass/widget.scss */
.prose.body .viz-number {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 100%;
}
/* line 155, ../sass/widget.scss */
.prose.body .viz-recipe-title {
  color: #33312e !important;
  border-bottom: none;
  line-height: 110%;
  font-weight: 400 !important;
}
/* line 162, ../sass/widget.scss */
.prose.body .viz-recipe-overline {
  color: #99948a !important;
  border-bottom: none;
  line-height: 100%;
}
/* line 168, ../sass/widget.scss */
.prose.body .viz-source, .prose.body .viz-source:first-line, .prose.body .viz-source:first-child {
  color: #99948a !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  font-family: "FCZizouSlab", Georgia, Times, Times New Roman, serif !important;
  line-height: 140% !important;
  margin-bottom: 0;
}
/* line 177, ../sass/widget.scss */
.prose.body .viz-yummly {
  background-image: url("http://www.fastcodesign.com/asset_files/-/2014/04/21/yummly_logo.png");
  border-bottom: none;
}
