<article class="viz-article">
		<div class="viz-container">
			<!-- BRACKET MOD -->
			<section class="viz-content-block">
				<header class="viz-generator-header viz-header-start">
					<img class="viz-basket viz-basket-start" src="http://www.guswezerek.com/projects/recipe_generator/img/basket_bw.png" />
					<h4 class="viz-subhead">Your Ingredients</h4>
				</header>
				<p class="viz-copy viz-copy-start">Click the basket to generate your own mystery ingredient&nbsp;challenge.</p>
				<div class="viz-ingredients-wrapper">
					<ul class="viz-ingredients viz-ingredients-col-1">
					</ul>
					<ul class="viz-ingredients viz-ingredients-col-2">
					</ul>
				</div>
				<p class="viz-source"><span class="viz-leadin">Source:</span> Photos and recipes generously powered by <a class="viz-yummly" href="http://www.yummly.com/"></a>. Ingredients and descriptions from Wikipedia.</p>
			</section>

		</div>

		<!-- Templates for Questions -->
		<script type="text/template" class="viz-ingredient-template">
				<li class="viz-ingredient-item">
					<div class="viz-ingredient-info">
						<div class="viz-ingredient-header">
							<h5 class="viz-ingredient-name"><%= ingredient %></h5>
							<h6 class="viz-number"><%= temp_index %></h6>
						</div>
						<p class="viz-ingredient-description"><%= description %> <a href="<%= page_url %>" class="viz-readmore"><a href="<%= page_url %>" class="viz-readmore">Read&nbsp;more&nbsp;&hellip;</a></p>
						<% if (typeof(image_url) != "undefined") { %>
							<div class="viz-thumb-container">
								<img class="viz-ingredient-thumb" src="<%= image_url %>" />
							</div>
						<% } else { %>
							<div class="viz-thumb-container">
								<img class="viz-ingredient-thumb" src="http://www.guswezerek.com/projects/recipe_generator/img/platter.png" />
							</div>
						<% } %>

					</div>
					<ul class="viz-recipes">
						<% if (typeof(recipe1_source) != "undefined") { %>
							<li class="viz-recipes-item">
								<h7 class="viz-recipe-overline"><%= recipe1_source %></h7>
								<a href="<%= recipe1_url %>" class="viz-recipe-title"><%= recipe1_name %></a>
							</li>
						<% } %>
						<% if (typeof(recipe2_source) != "undefined") { %>
							<li class="viz-recipes-item">
								<a class="viz-recipe-overline"><%= recipe2_source %></a>
								<a href="<%= recipe2_url %>" class="viz-recipe-title"><%= recipe2_name %></a>
							</li>
						<% } %>
					</ul>
				</li>
		</script>

		<script type="text/javascript">

			window.FC = window.FC || {};
		    window.FC.inlineFunctions = window.FC.inlineFunctions || {};

		    window.FC.inlineFunctions.graphicScript = function() {
		    	
				// SETUP VARIABLES
				// =============================================
				// var spreadsheetURL = "/ingredients.tsv";
				// var spreadsheetURL = "http://www.guswezerek.com/projects/recipe_generator/ingredients.tsv";
				var spreadsheetURL = "http://www.fastcodesign.com/asset_files/-/2014/04/21/ingredients.tsv";

				var appID = "d4056344";
				var appKey = "cf30fed394ef2013d82d03179ca4f961";

				// Need to change to FC address once we have it
				// var baseUrl = "http://www.guswezerek.com/projects/recipe_generator/";
				// var baseUrl = "http://localhost:8000";
				var baseUrl = window.location.origin + window.location.pathname;

				// For template
				var ingredientsTemplate = _.template( $(".viz-ingredient-template").html() );




				// LOAD DAT DATA
				// =============================================

				d3.tsv(spreadsheetURL, function(error, myData) {
					DATA = myData;
					var ingredientsStr = decodeURI(window.location.search).substr(13).slice(0, -1);

					// if the url has a list of attached ingredients
					if (ingredientsStr) {
						getIngredients(DATA, ingredientsStr.split(","));
					}
				});





				// HELPERS
				// =============================================
				function getIngredients(data, preBakedList) {

					setStage();

					var ingredients = [];

					if (preBakedList) {

						// use indices from url
						for (var i = 0; i < 4; i++) {
							fillJSON(DATA[preBakedList[i]], ingredients);
						}	

					} else {

						// get four random ingredients
						for (var i = 0; i < 4; i++) {
							var randomInt = getRandomInt(0, data.length);
							var ingredient = DATA[randomInt];
							fillJSON(ingredient, ingredients);
						}

					}

				}


				function fillJSON(ingredient, ingredients) {

					// Sometimes we search for a modified version of the ingredient to get results
					// Hence the need for a search_title column in the data
					var ingredientName = ingredient.search_title;

					var url = "http://api.yummly.com/v1/api/recipes?_app_id=" + appID + "&_app_key=" + appKey + "&q=" + ingredientName + "&requirePictures=true";

					// Call the Yummly API to get a photo and up to two recipes for the ingredient
					$.ajax({
					    type: "GET",
					    url: url,
					    dataType: "JSONP",
					    jsonp: "callback",
					    success: function(json) {
					    	var matches = json.matches;

					    	// When we have at least two recipe matches for the ingredient
					    	if (matches.length > 1) {			
						    	$.when(

						    		$.ajax({
									    type: "GET",
									    url: "http://api.yummly.com/v1/api/recipe/" + matches[0]["id"] +"?_app_id=" + appID + "&_app_key=" + appKey,
									    dataType: "JSONP",
									    jsonp: "callback",
									    success: function(recipe) {
									    	ingredient["image_url"] = recipe["images"][0]["hostedLargeUrl"];
									    	ingredient["recipe1_name"] = recipe["name"];
									    	ingredient["recipe1_source"] = recipe["source"]["sourceDisplayName"];
									    	ingredient["recipe1_url"] = recipe["source"]["sourceRecipeUrl"];				    	
									    }
									}),

									$.ajax({
									    type: "GET",
									    url: "http://api.yummly.com/v1/api/recipe/" + matches[1]["id"] +"?_app_id=" + appID + "&_app_key=" + appKey,
									    dataType: "JSONP",
									    jsonp: "callback",
									    success: function(recipe) {
									    	ingredient["recipe2_name"] = recipe["name"];
									    	ingredient["recipe2_source"] = recipe["source"]["sourceDisplayName"];
									    	ingredient["recipe2_url"] = recipe["source"]["sourceRecipeUrl"];
									    }
									})

								// Now that we've loaded the recipe data into the ingredient object
					    		).then(function() {			

					    			// Push the ingredient into the empty ingredients array
							    	pushUpdatedIngredient(ingredients, ingredient);

							    	// If the array is full, it's time to reveal our ingredients
									if (ingredients.length === 4) {
										populateIngredients(ingredients);
									}

								});

					    	// When we only have one recipe match for the ingredient
					    	} else if (matches.length > 0) {
						    	$.when(

						    		$.ajax({
									    type: "GET",
									    url: "http://api.yummly.com/v1/api/recipe/" + matches[0]["id"] +"?_app_id=" + appID + "&_app_key=" + appKey,
									    dataType: "JSONP",
									    jsonp: "callback",
									    success: function(recipe) {
									    	ingredient["image_url"] = recipe["images"][0]["hostedLargeUrl"];
									    	ingredient["recipe1_name"] = recipe["name"];
									    	ingredient["recipe1_source"] = recipe["source"]["sourceDisplayName"];
									    	ingredient["recipe1_url"] = recipe["source"]["sourceRecipeUrl"];				    	
									    }
									})

					    		).then(function() {

							    	pushUpdatedIngredient(ingredients, ingredient);

									if (ingredients.length === 4) {
										populateIngredients(ingredients);
									}

								});

							// When we have no recipe matches for the ingredient
					    	} else {

					    		pushUpdatedIngredient(ingredients, ingredient);

								if (ingredients.length === 4) {
									populateIngredients(ingredients);
								}
					    	}
					    }
					});
				}

				function pushUpdatedIngredient(ingredientsArray, ingredient) {
					ingredientsArray.push(ingredient);
				}

				// We filled out ingredients with info from the API
				// Now we need to compile and append them to the DOM
				function populateIngredients(selectedIngredients) {

					var myObj = {};
					var toAppendString1 = "";
					var toAppendString2 = "";

					// Create objects that underscore likes
					myObj["ingredients"] = selectedIngredients;
					selectedIngredients = myObj;
					
					// Compile the list
					for (i = 0; i < selectedIngredients.ingredients.length; i++) {
						var selected = selectedIngredients.ingredients[i];
						selected["temp_index"] = i +1;
						if (i < 2) {
							toAppendString1 += ingredientsTemplate(selected);
						} else {
							toAppendString2 += ingredientsTemplate(selected);
						}
					}

					// Fade out current list 
					hideRecipes();

					// Append the lists
					$(".viz-ingredients-col-1").html(toAppendString1);
					$(".viz-ingredients-col-2").html(toAppendString2);

					// Reveal the ingredients one by one
					(function showIngredient (i) {          
						setTimeout(function () {   
							$(".viz-ingredient-item").eq(i).fadeIn(200);
							if (i < 4) {
								i++; 
								showIngredient(i);
							} else {
								showRecipes();
								changeURL(selectedIngredients);
							}
						}, 500);
					})(0);

				}

				function hideRecipes() {
					$(".viz-subhead-recipes").hide();
				}

				function showRecipes() {
					$(".viz-source").addClass("viz-source-activated").fadeIn(200);
				}

				function changeURL(ingredients) {

					var pathString = "?ingredients=";

					// Stringify final ingredient list
					_.each(ingredients.ingredients, function(e, i) {
						if (i === 0) {
							pathString += encodeURIComponent(e.original_index);
						} else {
							pathString += ("," + encodeURIComponent(e.original_index));
						}
					});

					// Modify history with filled ingredients
					// So we can skip the API step if we load from scratch
					history.pushState("state", "title", baseUrl + pathString);

				}

				function setStage() {
					$(".viz-generator-header").removeClass("viz-header-start");
					$(".viz-copy").removeClass("viz-copy-start");
					$(".viz-source").fadeOut(200);
				}



				// HANDLERS
				// =============================================
				$(".viz-basket").on("click", function() {
					getIngredients(DATA);
				});



				// GENERAL HELPERS
				// =============================================

				// Returns a random integer between min and max
				function getRandomInt(min, max) {
					return Math.floor(Math.random() * (max - min + 1)) + min;
				}
			};

			require(['/js/vendor/d3.min.js'], function(d3) {
		      window.d3 = d3;
		      window.FC.inlineFunctions.graphicScript();
		    });

		</script>

	</article>