// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Base styles            

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.viz-article {
	margin: 0 auto;
	height: 100%;
	color: $txt-black;
	font-size: 15px;
	font-family: $sans;
	text-rendering: optimizeLegibility;
}

.viz-container {
	position: relative;
	background-color: $bground;
}

.viz-detail {
    color: $med-gray;
    text-transform: uppercase;
	letter-spacing: .5px;
    font-weight: 300;
    font-size: 11px;
	line-height: 80%;
}

.viz-overline {
	margin: 0 0 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid $light-gray;
	color: $med-gray;
	font-weight: 300;
	font-size: 11px;
}

.viz-title {
	@include inline-block;
	margin: 0;
	font-weight: 600;
	font-size: 42px;
	font-family: $slab;
	line-height: 90%;
	@media (min-width: $small) {
		font-size: 42px;
	}
}

.viz-underline {
	margin-top: 0;
	color: $txt-black;
	font-weight: 300;
	line-height: 140%;
}



.viz-byline {
	letter-spacing: .5px;
	line-height: 90%;
}

.viz-content-block {
	margin: 0 0 40px;
}

.viz-content-header {
	margin: 0 0 30px;
}

.viz-overline-wrapper {
	position: relative;
	margin: 0 0 5px;
	padding-bottom: 10px;
	border-bottom: 2px solid $txt-black;
}

.viz-subhed {
	margin: 0 0 10px;
	padding-bottom: 3px;
	border-bottom: 1px solid $light-gray;
	font-weight: 500;
	font-size: 13px;
}

.viz-subhed-select {
	padding-bottom: 7px;
}

.viz-header-wrapper {
	@include pie-clearfix;
	position: relative;
}





// INGREDIENTS
///////////////////////////////////////////////

.viz-generator-header {
	position: relative;
	margin: 20px 0 10px;
	height: 70px;
}

.viz-basket {
	@include absolute(n 10px 7px n);
	z-index: 1;
	width: 80px;
	cursor: pointer;
}

.viz-subhead {
	@include absolute(n 0 0 0);
	margin: 0;
	padding: 7px 10px;
	background: black;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 22px;
	font-family: $condensed;
	-webkit-font-smoothing: antialiased;
}

.viz-copy {
	margin: 0 0 20px;
	color: $txt-black;
	line-height: 140%;
	font-size: 14px;
}

.viz-ingredients {
	margin: 0 0 40px;
	padding: 0;
}

.viz-ingredient-item {
	display: none;
	margin-bottom: 30px;
	list-style-type: none;
}

.viz-number {
	float: right;
	margin: 0;
	padding: 0 15px;
	border-left: 1px solid $txt-black;
	font-size: 18px;
	font-family: $slab;
}

.viz-ingredient-header {
	margin-bottom: 10px;
	padding-bottom: 5px;
	width: 100%;
	border-bottom: 2px solid $txt-black;
}

.viz-thumb-container {
	overflow: hidden;
	margin-bottom: 15px;
	width: 100%;
	height: 175px;
}

.viz-ingredient-thumb {
	width: 100%;
}

.viz-ingredient-name {
	display: inline-block;	
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .75px;
	font-weight: 500;
	font-size: 22px;
	font-family: $condensed;
}

.viz-ingredient-description {
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 140%;
}

.viz-readmore {
	@include trans(0.2s, color, ease-in-out);
	color: $med-gray;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .75px;
	font-weight: 400;
	font-size: 12px;
	font-family: $slab;
	&:hover {
		color: $dark-gray;
	}
}

.viz-recipes {
	padding: 0;
}

.viz-recipes-item {
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid $txt-black;
	list-style-type: none;
}

.viz-recipe-overline {
	display: block;
	margin-bottom: 3px;
	color: $med-gray;
	text-transform: uppercase;
	letter-spacing: .75px;
	font-weight: 400;
	font-size: 12px;
	font-family: $slab;
}

.viz-recipe-title {
	display: block;
	color: $txt-black;
	text-decoration: none;
	font-size: 14px;
}




// SVG Animation
.viz-svg-wrap {
	margin: 0 auto 30px;
	width: 200px;
	height: 180px;
	cursor: pointer;
}
