// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Base styles            

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.viz-article {
	margin: 0 auto;
	height: 100%;
	color: $txt-black;
	font-size: 15px;
	font-family: $sans;
	text-rendering: optimizeLegibility;
}

.viz-container {
	position: relative;
	background-color: $bground;
}

.viz-detail {
    color: $med-gray;
    text-transform: uppercase;
	letter-spacing: .5px;
    font-weight: 300;
    font-size: 11px;
	line-height: 80%;
}

.viz-overline {
	margin: 0 0 5px;
	padding-bottom: 3px;
	border-bottom: 1px solid $light-gray;
	color: $med-gray;
	font-weight: 300;
	font-size: 11px;
}

.viz-title {
	@include inline-block;
	margin: 0;
	font-weight: 600;
	font-size: 42px;
	font-family: $slab;
	line-height: 90%;
	@media (min-width: $small) {
		font-size: 42px;
	}
}

.viz-underline {
	margin-top: 0;
	color: $txt-black;
	font-weight: 300;
	line-height: 140%;
}



.viz-byline {
	letter-spacing: .5px;
	line-height: 90%;
}

.viz-content-block {
	@include pie-clearfix;
	margin: 0 0 40px;
}

.viz-content-header {
	margin: 0 0 30px;
}

.viz-overline-wrapper {
	position: relative;
	margin: 0 0 5px;
	padding-bottom: 10px;
	border-bottom: 2px solid $txt-black;
}

.viz-subhed {
	margin: 0 0 10px;
	padding-bottom: 3px;
	border-bottom: 1px solid $light-gray;
	font-weight: 500;
	font-size: 13px;
}

.viz-subhed-select {
	padding-bottom: 7px;
}

.viz-header-wrapper {
	@include pie-clearfix;
	position: relative;
}





// INGREDIENTS
///////////////////////////////////////////////

.viz-generator-header {
	position: relative;
	margin: 20px 0 10px;
	height: 70px;
}

.viz-basket {
	@include transition(0.2s bottom ease-in-out, 0.2s width ease-in-out);
	@include absolute(n 15px 9px n);
	z-index: 1;
	width: 80px;
	cursor: pointer;
}

.viz-subhead {
	@include trans(0.2s, text-align, ease-in-out);
	@include absolute(n 0 0 0);
	margin: 0;
	padding: 5px 10px 7px;
	background: $txt-black;
	color: white;
	font-weight: 600;
	font-size: 22px;
	font-family: $slab;
	-webkit-font-smoothing: antialiased;
}

.viz-header-start {
	.viz-basket {
		width: 280px;
		bottom: -325px;
		right: 0;
		left: 0;
		margin: auto auto;
	}
	.viz-subhead {
		text-align: center;
	}
}

.viz-copy {
	@include trans(0.2s, text-align, ease-in-out);
	margin: 0 0 20px 10px;
	color: $txt-black;
	line-height: 140%;
	font-size: 15px;
}

.viz-copy-start {
	margin-left: 0;
	text-align: center;
}

.viz-ingredients-wrapper {
	@include pie-clearfix;
}

.viz-ingredients {
	margin: 0 0 10px;
	padding: 0;
	@media (min-width: $small) {
		width: 48%;
	}
}

.viz-ingredients-col-1 {
	@media (min-width: $small) {
		float: left;
	}
}

.viz-ingredients-col-2 {
	@media (min-width: $small) {
		float: right;
	}
}

.viz-ingredient-item {
	display: none;
	margin-bottom: 20px;
	list-style-type: none;
	padding: 15px;
	border: 1px solid $txt-black;
}

.viz-number {
	@include absolute(n 0 10px n);
	margin: 0;
	padding-top: 2px;
	width: 16px;
	height: 16px;
	background: $txt-black;
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	font-family: $slab;
}

.viz-ingredient-header {
	margin-bottom: 10px;
	padding-bottom: 6px;
	width: 100%;
	border-bottom: 2px solid $txt-black;
	position: relative;
}

.viz-thumb-container {
	overflow: hidden;
	margin: 10px 0 0;
	width: 100%;
	max-height: 260px;
}

.viz-ingredient-thumb {
	border-top: 1px solid $txt-black;
	padding-top: 15px;
	width: 100%;
}

.viz-ingredient-name {
	display: inline-block;	
	margin: 0 25px 0 0;
	font-weight: 600;
	font-size: 20px;
	font-family: $slab;
	line-height: 100%;
}

.viz-ingredient-description {
	margin: 0;
	font-size: 14px;
	line-height: 140%;
}

.viz-readmore {
	@include trans(0.2s, color, ease-in-out);
	color: $med-gray;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .75px;
	font-weight: 400;
	font-size: 12px;
	font-family: $slab;
	&:hover {
		color: $dark-gray;
	}
}

.viz-recipes {
	padding: 0;
}

.viz-recipes-item {
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid $txt-black;
	list-style-type: none;
	&:nth-of-type(1) {
		margin-top: 15px;
		border-top: none;
		padding-top: 0;
	}
	&:last-of-type {
		padding-bottom: 5px;
	}
}

.viz-recipe-overline {
	display: block;
	margin-bottom: 3px;
	color: $med-gray;
	text-transform: uppercase;
	letter-spacing: .75px;
	font-weight: 400;
	font-size: 12px;
	font-family: $slab;
}

.viz-recipe-title {
	display: block;
	color: $txt-black;
	text-decoration: none;
	font-size: 14px;
}

.viz-source {
	display: block;
	margin: 300px 0 7px;
	padding-top: 7px;
	border-top: 1px solid $light-gray;
	color: $light-gray;
	letter-spacing: .75px;
	font-weight: 400;
	font-size: 12px;
	font-family: $slab;
	line-height: 140%;
}

.viz-source-activated {
	margin-top: 0px;
}

.viz-leadin {
	text-transform: uppercase;
}

.viz-yummly {
	@include inline-block;
	background-image: url('/img/yummly_logo.png');
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 4px 2px 0 2px;
	width: 50px;
	height: 20px;
}



// SVG Animation
.viz-svg-wrap {
	margin: 0 auto 30px;
	width: 200px;
	height: 180px;
	cursor: pointer;
}
